.container {
    width: 100vh;
    height: 35vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    background-image: linear-gradient(rgb(67, 182, 249), rgb(23, 249, 197));
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 25vh;
    height: 50%;
}
.button:hover {
    background-image: linear-gradient(rgb(67, 125, 249), rgb(23, 249, 147));
}