.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 100%;
    padding: 50px;
}

.pageText {
    font-size: 18px;
    color: #ededed;
    text-align: left;
}

.header {
    font-size: 25px;
}