.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 95vh;
    width: 80%;

    padding-top: 25px;

    background-color: rgba(245, 222, 179, 0);
}

.pageText {
    font-size: 18px;
    color: #c2c2c2;
    text-align: left;
    padding-bottom: 15px;
}


.header {
    font-size: 25px;
    padding-bottom: 5px;
    color: #ffffff;
}